.tabs-sec{
  width: 100vw;
  height: 100%;
}

.tabs {
    display: flex; // labes=les and content on the bottom
    flex-wrap: wrap; //keeps tabs and content on diffrent lines
    margin: 40px 40px 40px;
    border-radius: 10px 10px 0 0;
    width: 100%;// the width of the content box
        &__radiotab {
            position: absolute; // takes the radio btn outside the flow of the doc, all radio btun will stack on each other
           opacity: 0;
           order: -1;
          }
  }

  .label {
      width: 20%;
      padding: 12px 4px;
      background: #e5e5e5;
      cursor: pointer;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      font-weight: bold;
      font-size: 20px;
      color: #a5a5a5;
      transition: background .3s, color .3s;
      text-align: center;
      order: -1;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          
      &:not(:last-child){
        margin-right: 1rem;
        }
  }
  
  .label:hover {
    background: #bebebe;
  }
  .label:active {
    background:#575f8a;  
  }
  .tabs__radiotab:checked + .label { //when you chek the radio, change the label backgond color
    background: #1a2456;
    color: white;
  }
  .tabcontent {
    display: none;
    padding: 20px 30px 30px;// style the actual content eg tab one ..content , invisble whin not checkes
    background: $light-pink;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%; // responsive with the amout of contnet
    @include center;

        &__content{
            display: grid;
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            grid-gap: 1.2rem;
            @include center;
            
                &--img1{
                    width: 5rem;
                    height: auto;
                    grid-row: 3;
                    // Useing the the css filter propery to chnage the default color of svg
                    filter: invert(100%) sepia(21%) saturate(1378%) hue-rotate(191deg) brightness(93%) contrast(105%);
                        
                    @include respond(very-small-screen-downloads){
                          width: 4rem;
                      }
                }
                &--img2{
                    width: 5rem;
                    height: auto;
                    grid-row: 3;
                    filter: invert(17%) sepia(12%) saturate(3057%) hue-rotate(192deg) brightness(92%) contrast(104%);
                        
                    @include respond(very-small-screen-downloads){
                          width: 4rem;
                      }
                  }
                &--para{
                    grid-row: 2;
                    grid-column: span 2;
                    width: 70%;
                    text-align: center;
                      
                    @include respond(small-screen-one){
                        width: 100%;
                      }
                }
                &--title{
                    grid-column: span 2;
                    font-size: 2rem;
                    text-transform: uppercase;
                    text-align: center;
                }
                &--btn{
                    background-color: $primary-purple;
                    color: $white;
                    padding: 0.3rem 1rem;
                    border-radius: 50px;
                    text-align: center;
                    text-decoration: none;
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    
                    @include respond(very-small-screen-downloads){
                      font-size: 1rem;
                      padding: 0.2rem 0.5rem;
                      font-size: 0.9rem;
                      
                  }
                  }

                &--inputs{
                  display: grid;
                  grid-template-columns: repeat(2, minmax(min-content, max-content));
                  grid-template-rows: repeat(9,  minmax(min-content, max-content));
                  grid-gap: 1rem;
                  width: 50%;
                  
                  @include respond(medium-screen-two){
                    width: 100%;
                }
                  label{
                    font-size: 1.3rem;
                    font-weight: 700;
                    
                    @include respond(medium-screen-two){
                      font-size: 1rem;
                  } 
                  }
                  input{
                    padding: 1rem;
                    border: 1px solid $primary-purple;

                    @include respond(medium-screen-two){
                        width: 100%;
                        padding: 0.5rem;

                    }
                  }
                      &-email{
                        grid-column: 1/ span 2;
                        grid-row: 4;
                        width: 100%;
                      }
                      &-emailLabel{
                        grid-row: 3;
                        grid-column: span 2;
                      }
                      &-name{
                        grid-row: 6;
                      }
                      &-nameLabel{
                        grid-row: 5;
                      }
                      &-surname{
                        grid-row: 6;
                        grid-column: 2;
                      }
                      &-surnameLabel{
                        grid-row: 5;
                        grid-column: 2;
                      }
                      &-conntry{
                        grid-row: 8;
                        grid-column: span 2;
                      }
                      &-conntryLabel{
                        grid-row: 7;
                      }
                      &-btn{
                        grid-row: 9;
                        margin: 0 auto;
                        grid-column: span 2;
                        padding: 0.3rem 1rem;
                        background-color: $primary-purple;
                        text-decoration: none;
                        color: $white;
                        border-radius: 50px;
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                  
                      }
                      &-title, &-para{
                        margin: 0 auto;
                        grid-column: span 2;
                      }
                }
        }
  }
  
  .tabs__radiotab:checked + .label + .tabcontent {
    display: block;
  }
  
 @include respond(medium-screen-two){
      .tabcontent {
          order: initial;
          width: 80%;
        }
      .label{
        width: 80%;
        order: initial;
        border-bottom: 1px solid#bebebe;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
      }
      .tabs__radiotab{
        order: initial;
      }
 }
 