.navigation{
    width: 100vw;
    height: 5.5rem;
    background-color: $primary-purple;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 10;
}

.nav{
    list-style: none;
    text-transform: uppercase;
    padding-right: 3rem;

    &__img{
        width: 5rem;
        height: auto;
        float: left;
        margin-top: 1.5rem;
        padding-left: 1.4rem;
    }
    &__title{
        color: $light-pink;
        float: left;
        font-size: 0.8rem;
        letter-spacing: 0.4rem;
        margin-top: 2.1rem;
        margin-left: 1rem;
        
        @include respond(very-small-screen-downloads){
            font-size: 0.7rem;
            letter-spacing: 0.2rem;
            margin-left: 0.5rem;
        }
        
    }
    &__list{
        float: right;
    }
    &__link{
        text-decoration: none;
        margin-right: 2rem;
        color: $light-pink;
        font-size: 0.8rem;
        float: right;
        position: relative;
        top: 2rem;
     
            img{
                width: 2.5rem;
                height:auto;
                position: absolute;
                margin-left: 0.4rem;
                filter: invert(85%) sepia(12%) saturate(562%) hue-rotate(328deg) brightness(94%) contrast(94%);
            }
    }
}
.workflowzz{
  text-decoration: underline;
}
.workflowzz:hover + .workflows{
  opacity: 1;
}
.workflows{
    background-color: $white;
    padding: 0.5rem 0.7rem;
    display: inline-block;
    width: 10rem;
    position: absolute;
    top: 5rem;
    left: 60rem;
    opacity: 0;
    transition: all .8s;
    z-index: 30000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
       
    &__list{
            text-transform: uppercase;
            list-style: none;
        }
}
.shop{
    position: relative;
    z-index: 121000;
}

.link-hide{

  @include respond(medium-screen-footer){
      opacity: 0;
      display: none;
  }
}
.usd-span{
    @include respond(final-smallest-screen){
        opacity: 0;
        display: none;
    } 
}