//Reset
*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

$primary-purple: #1a2456;
$secondary-purple: #313a69;
$light-pink:    #E8C3B5;
$white: #ffffff;