* {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

.navigation {
  width: 100vw;
  height: 5.5rem;
  background-color: #1a2456;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 10; }

.nav {
  list-style: none;
  text-transform: uppercase;
  padding-right: 3rem; }
  .nav__img {
    width: 5rem;
    height: auto;
    float: left;
    margin-top: 1.5rem;
    padding-left: 1.4rem; }
  .nav__title {
    color: #E8C3B5;
    float: left;
    font-size: 0.8rem;
    letter-spacing: 0.4rem;
    margin-top: 2.1rem;
    margin-left: 1rem; }
    @media (max-width: 420px) {
      .nav__title {
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
        margin-left: 0.5rem; } }
  .nav__list {
    float: right; }
  .nav__link {
    text-decoration: none;
    margin-right: 2rem;
    color: #E8C3B5;
    font-size: 0.8rem;
    float: right;
    position: relative;
    top: 2rem; }
    .nav__link img {
      width: 2.5rem;
      height: auto;
      position: absolute;
      margin-left: 0.4rem;
      filter: invert(85%) sepia(12%) saturate(562%) hue-rotate(328deg) brightness(94%) contrast(94%); }

.workflowzz {
  text-decoration: underline; }

.workflowzz:hover + .workflows {
  opacity: 1; }

.workflows {
  background-color: #ffffff;
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 10rem;
  position: absolute;
  top: 5rem;
  left: 60rem;
  opacity: 0;
  transition: all .8s;
  z-index: 30000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
  .workflows__list {
    text-transform: uppercase;
    list-style: none; }

.shop {
  position: relative;
  z-index: 121000; }

@media (max-width: 980px) {
  .link-hide {
    opacity: 0;
    display: none; } }

@media (max-width: 340px) {
  .usd-span {
    opacity: 0;
    display: none; } }

.header {
  width: 100vw;
  animation: images 10s infinite;
  position: relative;
  z-index: -3;
  height: 100vh; }
  @media (max-width: 900px) {
    .header {
      height: 70vh; } }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a2456;
    padding: 1rem;
    z-index: -2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
    .header__content--title {
      text-transform: uppercase;
      font-size: 2rem;
      color: #E8C3B5;
      font-weight: 800;
      text-align: center; }
    .header__content--para {
      color: #E8C3B5;
      text-align: center; }

@keyframes images {
  0% {
    background: repeating-linear-gradient(45deg, #1a2456, #1a2456 40px, #ff8b68 40px, #ff8b68 50px); }
  20% {
    background: repeating-linear-gradient(250deg, #1a2456, #1a2456 40px, #ff8b68 40px, #ff8b68 50px); }
  40% {
    background: repeating-linear-gradient(200deg, #1a2456, #1a2456 40px, #ff8b68 40px, #ff8b68 50px); }
  60% {
    background: repeating-linear-gradient(180deg, #1a2456, #1a2456 40px, #ff8b68 40px, #ff8b68 50px); }
  80% {
    background: repeating-linear-gradient(-45deg, #1a2456, #1a2456 40px, #ff8b68 40px, #ff8b68 50px); }
  100% {
    background: repeating-linear-gradient(45deg, #1a2456, #1a2456 40px, #ff8b68 40px, #ff8b68 50px); } }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-top: 4rem;
  grid-row-gap: 2rem; }
  @media (max-width: 1150px) {
    .grid {
      grid-template-columns: 1fr; } }
  .grid__item {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(4, max-content); }
    @media (max-width: 570px) {
      .grid__item {
        grid-template-columns: 100px;
        margin-left: 2rem;
        margin-right: 2rem; } }
    .grid__item--img {
      width: 100%;
      height: auto;
      grid-column: 1 / span 3;
      grid-row: 1 / span 2;
      margin-bottom: 1rem; }
      @media (max-width: 570px) {
        .grid__item--img {
          border: 2px solid #1a2456; } }
    .grid__item--img2 {
      width: 100%;
      height: auto;
      grid-column: 1 / span 3;
      grid-row: 1 / span 2;
      margin-bottom: 1rem;
      opacity: 0;
      transition: all .9s; }
      .grid__item--img2:hover {
        opacity: 1; }
    .grid__item--title {
      text-transform: uppercase; }
    .grid__item--info {
      grid-row: 4;
      grid-column: 1/ span 3; }
    .grid__item--price {
      grid-column: 3;
      grid-row: 3;
      align-self: end;
      justify-self: end; }
    .grid__item--shopnow {
      grid-column: 3;
      grid-row: 3;
      align-self: end;
      padding: 0.5rem;
      background-color: #1a2456;
      text-align: center;
      border-radius: 50px;
      color: white;
      opacity: 0; }
      .grid__item--shopnow:hover {
        opacity: 1; }
    .grid__item--stock {
      grid-row: 1;
      grid-column: 3;
      background-color: #1a2456;
      color: #ffffff;
      padding: 1rem;
      align-self: end;
      justify-self: end;
      z-index: 10;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 4rem;
  grid-row-gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem; }
  @media (max-width: 1150px) {
    .grid2 {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 800px) {
    .grid2 {
      grid-template-columns: 1fr; } }
  .grid2__item {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(4, max-content); }
    @media (max-width: 570px) {
      .grid2__item {
        grid-template-columns: 100px;
        margin-left: 2rem;
        margin-right: 2rem; } }
    .grid2__item--img {
      width: 100%;
      height: auto;
      grid-column: 1 / span 3;
      grid-row: 1 / span 2;
      margin-bottom: 1rem; }
      @media (max-width: 570px) {
        .grid2__item--img {
          border: 4px solid #1a2456; } }
    .grid2__item--img2 {
      width: 100%;
      height: auto;
      grid-column: 1 / span 3;
      grid-row: 1 / span 2;
      margin-bottom: 1rem;
      opacity: 0;
      transition: all .9s; }
      .grid2__item--img2:hover {
        opacity: 1; }
    .grid2__item--title {
      text-transform: uppercase;
      grid-column: 1/ span 2; }
    .grid2__item--price {
      grid-column: 3;
      grid-row: 3;
      align-self: end;
      justify-self: end; }
    .grid2__item--shopnow {
      grid-column: 3;
      grid-row: 3;
      align-self: end;
      padding: 0.5rem;
      background-color: #1a2456;
      text-align: center;
      border-radius: 50px;
      color: #ffffff;
      opacity: 0; }
      .grid2__item--shopnow:hover {
        opacity: 1; }
    .grid2__item--stock {
      grid-row: 1;
      grid-column: 3;
      background-color: #1a2456;
      color: #ffffff;
      z-index: 10;
      position: relative;
      padding: 1rem;
      align-self: end;
      justify-self: end;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }

.download-header {
  width: 100vw;
  height: 70vh;
  position: relative;
  animation: downloads-header 10s infinite;
  z-index: -15; }
  .download-header--content {
    position: absolute;
    top: 6rem;
    left: 2rem;
    text-transform: uppercase; }
    .download-header--content-sub {
      color: #ffffff;
      font-size: 1.4rem;
      letter-spacing: 0.51rem; }
    .download-header--content-title span {
      font-size: 4.5rem; }
      @media (max-width: 570px) {
        .download-header--content-title span {
          font-size: 3rem; } }
      @media (max-width: 370px) {
        .download-header--content-title span {
          font-size: 2.3rem; } }
    .download-header--content-title2 {
      color: #FAF4B7;
      font-size: 2rem;
      letter-spacing: 1rem; }

@keyframes downloads-header {
  0% {
    background: repeating-linear-gradient(45deg, #1a2456, #1a2456 40px, #313a69 40px, #313a69 50px); }
  20% {
    background: repeating-linear-gradient(-45deg, #1a2456, #1a2456 40px, #313a69 40px, #313a69 50px); }
  40% {
    background: repeating-linear-gradient(180deg, #1a2456, #1a2456 40px, #313a69 40px, #313a69 50px); }
  60% {
    background: repeating-linear-gradient(80deg, #1a2456, #1a2456 40px, #313a69 40px, #313a69 50px); }
  80% {
    background: repeating-linear-gradient(180deg, #1a2456, #1a2456 40px, #313a69 40px, #313a69 50px); }
  100% {
    background: repeating-linear-gradient(45deg, #1a2456, #1a2456 40px, #313a69 40px, #313a69 50px); } }

.create {
  width: 100vw;
  height: 70vh;
  position: relative;
  margin-top: 4rem; }
  @media (max-width: 980px) {
    .create {
      height: 60vh;
      background: repeating-linear-gradient(180deg, #1a2456, #1a2456 40px, #313a69 40px, #313a69 50px); } }
  .create__bkrnd {
    width: inherit;
    height: inherit; }
    @media (max-width: 980px) {
      .create__bkrnd {
        width: 0;
        height: 0; } }
  .create__text {
    z-index: 100;
    position: absolute;
    top: 5%;
    left: 50%;
    color: #1a2456;
    text-transform: uppercase;
    transform: translate(-50%, -5%);
    width: 50%; }
    @media (max-width: 980px) {
      .create__text {
        color: #ffffff;
        top: 15%; } }

.create__txt--title {
  font-size: 2.8rem;
  text-align: center;
  color: white; }
  @media (max-width: 980px) {
    .create__txt--title {
      font-size: 3.2rem;
      color: #e3f4ff; } }

.create__txt--para {
  text-align: center;
  font-size: 1.2rem;
  color: white; }
  @media (max-width: 980px) {
    .create__txt--para {
      color: #FAF4B7; } }

.hamburger {
  position: absolute; }
  .hamburger__check {
    opacity: 0;
    display: none; }
  .hamburger__content {
    position: absolute;
    left: 4rem;
    top: 4rem;
    font-size: 1.5rem;
    transition: all .2s ease;
    opacity: 0; }
    .hamburger__content li {
      list-style: none; }
    .hamburger__content a {
      color: #E8C3B5;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 3.5rem; }
      .hamburger__content a:hover {
        text-decoration: underline; }
    .hamburger__content img {
      width: 5rem;
      height: auto; }
  .hamburger__label {
    position: absolute;
    z-index: 1300;
    left: 15rem;
    top: 2rem;
    opacity: 0; }
    @media (max-width: 980px) {
      .hamburger__label {
        opacity: 1; } }
    @media (max-width: 420px) {
      .hamburger__label {
        left: 12rem; } }
    .hamburger__label--1 {
      width: 1.8rem;
      height: 3px;
      background-color: #E8C3B5;
      margin-bottom: 0.4rem;
      display: block; }
      @media (max-width: 420px) {
        .hamburger__label--1 {
          width: 1.2rem;
          margin-bottom: 0.2rem;
          height: 2px; } }
    .hamburger__label--2 {
      width: 1.8rem;
      height: 3px;
      background-color: #E8C3B5;
      margin-bottom: 0.4rem;
      display: block; }
      @media (max-width: 420px) {
        .hamburger__label--2 {
          width: 1.2rem;
          margin-bottom: 0.2rem;
          height: 2px; } }
    .hamburger__label--3 {
      width: 1.8rem;
      height: 3px;
      background-color: #E8C3B5;
      display: block; }
      @media (max-width: 420px) {
        .hamburger__label--3 {
          width: 1.2rem;
          margin-bottom: 0.2rem;
          height: 2px; } }
  .hamburger__background {
    height: 70vh;
    background-color: #1a2456;
    z-index: 1000;
    position: absolute;
    display: block;
    width: 17rem;
    opacity: 0; }

.hamburger__check:checked ~ .hamburger__background {
  position: absolute;
  z-index: 1;
  animation: slide-out-2  .9s ease;
  opacity: 1; }

.hamburger__check:checked ~ .hamburger__content {
  z-index: 2000;
  opacity: 1; }

.hamburger__check:checked + .hamburger__label .hamburger__label--1 {
  transform: rotate(45deg); }

.hamburger__check:checked + .hamburger__label .hamburger__label--2 {
  opacity: 0;
  display: none; }

.hamburger__check:checked + .hamburger__label .hamburger__label--3 {
  transform: rotate(-45deg);
  top: 0;
  position: absolute; }

@keyframes slide-out-2 {
  0% {
    transform: translateX(-1400px); }
  100% {
    transform: translateX(0); } }

.footer {
  height: 25rem;
  background-color: #1a2456;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, max-content));
  grid-gap: 3rem;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding-top: 2rem;
  border: 8px solid #E8C3B5; }
  @media (max-width: 1150px) {
    .footer {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media (max-width: 980px) {
    .footer {
      grid-template-columns: repeat(3, minmax(min-content, max-content));
      height: 35rem;
      padding-left: 4rem;
      padding-right: 4rem;
      justify-content: start;
      justify-items: start;
      align-content: start; } }
  @media (max-width: 800px) {
    .footer {
      grid-template-columns: repeat(2, minmax(min-content, max-content));
      height: 55rem;
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media (max-width: 600px) {
    .footer {
      grid-gap: 2rem;
      grid-template-columns: repeat(1, minmax(min-content, max-content));
      height: 60rem; } }
  .footer__item {
    color: #E8C3B5; }
    .footer__item h4 {
      text-transform: uppercase;
      font-size: 1.6rem; }
    .footer__item li {
      list-style: none;
      line-height: 1.4rem;
      font-size: 1.2rem; }
    @media (max-width: 980px) {
      .footer__item:last-child {
        grid-row: 1;
        grid-column: 1; } }
    .footer__item--sub {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, minmax(min-content, max-content));
      grid-row-gap: 1.5rem; }
      .footer__item--sub-para {
        width: 15rem; }
      .footer__item--sub-social {
        display: grid;
        grid-template-columns: repeat(4, minmax(min-content, max-content));
        grid-column-gap: 1rem; }
        .footer__item--sub-social-img {
          width: 2rem;
          height: 2rem;
          filter: invert(91%) sepia(46%) saturate(711%) hue-rotate(294deg) brightness(106%) contrast(82%); }
      .footer__item--sub-inputs {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: 1rem; }
        .footer__item--sub-inputs-btn {
          display: inline-block;
          font-size: 0.9rem;
          background-color: #E8C3B5;
          padding: 0.4rem 0.7rem;
          color: #1a2456;
          border-radius: 50px;
          text-decoration: none; }
        .footer__item--sub-inputs-input {
          background-color: #1a2456;
          border: 1px solid #E8C3B5;
          color: #d1d1d1;
          padding-left: 1.2rem; }
          @media (max-width: 340px) {
            .footer__item--sub-inputs-input {
              width: 8rem; } }

span:nth-child(1) {
  color: #EBC7E8; }

span:nth-child(2) {
  color: #FAF4B7; }

span:nth-child(3) {
  color: #FFCCB3; }

span:nth-child(4) {
  color: #B1E1FF; }

span:nth-child(5) {
  color: #B2A4FF; }

span:nth-child(6) {
  color: #FFB4B4; }

span:nth-child(7) {
  color: #FFDEB4; }

span:nth-child(8) {
  color: #FFF9CA; }

.tabs-sec {
  width: 100vw;
  height: 100%; }

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 40px 40px;
  border-radius: 10px 10px 0 0;
  width: 100%; }
  .tabs__radiotab {
    position: absolute;
    opacity: 0;
    order: -1; }

.label {
  width: 20%;
  padding: 12px 4px;
  background: #e5e5e5;
  cursor: pointer;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  color: #a5a5a5;
  transition: background .3s, color .3s;
  text-align: center;
  order: -1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
  .label:not(:last-child) {
    margin-right: 1rem; }

.label:hover {
  background: #bebebe; }

.label:active {
  background: #575f8a; }

.tabs__radiotab:checked + .label {
  background: #1a2456;
  color: white; }

.tabcontent {
  display: none;
  padding: 20px 30px 30px;
  background: #E8C3B5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 90%;
  align-content: center;
  justify-content: center;
  justify-items: center; }
  .tabcontent__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-gap: 1.2rem;
    align-content: center;
    justify-content: center;
    justify-items: center; }
    .tabcontent__content--img1 {
      width: 5rem;
      height: auto;
      grid-row: 3;
      filter: invert(100%) sepia(21%) saturate(1378%) hue-rotate(191deg) brightness(93%) contrast(105%); }
      @media (max-width: 420px) {
        .tabcontent__content--img1 {
          width: 4rem; } }
    .tabcontent__content--img2 {
      width: 5rem;
      height: auto;
      grid-row: 3;
      filter: invert(17%) sepia(12%) saturate(3057%) hue-rotate(192deg) brightness(92%) contrast(104%); }
      @media (max-width: 420px) {
        .tabcontent__content--img2 {
          width: 4rem; } }
    .tabcontent__content--para {
      grid-row: 2;
      grid-column: span 2;
      width: 70%;
      text-align: center; }
      @media (max-width: 570px) {
        .tabcontent__content--para {
          width: 100%; } }
    .tabcontent__content--title {
      grid-column: span 2;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center; }
    .tabcontent__content--btn {
      background-color: #1a2456;
      color: #ffffff;
      padding: 0.3rem 1rem;
      border-radius: 50px;
      text-align: center;
      text-decoration: none;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
      @media (max-width: 420px) {
        .tabcontent__content--btn {
          font-size: 1rem;
          padding: 0.2rem 0.5rem;
          font-size: 0.9rem; } }
    .tabcontent__content--inputs {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, max-content));
      grid-template-rows: repeat(9, minmax(min-content, max-content));
      grid-gap: 1rem;
      width: 50%; }
      @media (max-width: 710px) {
        .tabcontent__content--inputs {
          width: 100%; } }
      .tabcontent__content--inputs label {
        font-size: 1.3rem;
        font-weight: 700; }
        @media (max-width: 710px) {
          .tabcontent__content--inputs label {
            font-size: 1rem; } }
      .tabcontent__content--inputs input {
        padding: 1rem;
        border: 1px solid #1a2456; }
        @media (max-width: 710px) {
          .tabcontent__content--inputs input {
            width: 100%;
            padding: 0.5rem; } }
      .tabcontent__content--inputs-email {
        grid-column: 1/ span 2;
        grid-row: 4;
        width: 100%; }
      .tabcontent__content--inputs-emailLabel {
        grid-row: 3;
        grid-column: span 2; }
      .tabcontent__content--inputs-name {
        grid-row: 6; }
      .tabcontent__content--inputs-nameLabel {
        grid-row: 5; }
      .tabcontent__content--inputs-surname {
        grid-row: 6;
        grid-column: 2; }
      .tabcontent__content--inputs-surnameLabel {
        grid-row: 5;
        grid-column: 2; }
      .tabcontent__content--inputs-conntry {
        grid-row: 8;
        grid-column: span 2; }
      .tabcontent__content--inputs-conntryLabel {
        grid-row: 7; }
      .tabcontent__content--inputs-btn {
        grid-row: 9;
        margin: 0 auto;
        grid-column: span 2;
        padding: 0.3rem 1rem;
        background-color: #1a2456;
        text-decoration: none;
        color: #ffffff;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
      .tabcontent__content--inputs-title, .tabcontent__content--inputs-para {
        margin: 0 auto;
        grid-column: span 2; }

.tabs__radiotab:checked + .label + .tabcontent {
  display: block; }

@media (max-width: 710px) {
  .tabcontent {
    order: initial;
    width: 80%; }
  .label {
    width: 80%;
    order: initial;
    border-bottom: 1px solid #bebebe;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; }
  .tabs__radiotab {
    order: initial; } }

.slideout {
  width: 37rem;
  background-color: #ffffff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  right: -6rem;
  top: 3.2rem;
  opacity: 0;
  color: #1a2456;
  z-index: 15; }
  @media (max-width: 570px) {
    .slideout {
      width: 30rem; } }
  @media (max-width: 450px) {
    .slideout {
      width: 22rem; } }
  .slideout__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, minmax(min-content, max-content));
    grid-row-gap: 0.2rem; }
    .slideout__grid--title {
      background-color: #1a2456;
      color: #ffffff;
      padding: 2rem;
      grid-column: 2/ span 4; }
    .slideout__grid--subtotal {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, minmax(min-content, max-content));
      grid-row-gap: 1.2rem;
      background-color: #1a2456;
      color: #ffffff;
      padding: 1.5rem;
      grid-row: 8;
      grid-column: 1/ span 4;
      height: 17.5rem; }
      .slideout__grid--subtotal-btn {
        grid-column: 1/ span 2;
        width: 90%;
        height: 1.9rem;
        margin-left: 1.4rem;
        border-radius: 50px; }
        @media (max-width: 570px) {
          .slideout__grid--subtotal-btn {
            width: 80%; } }
      .slideout__grid--subtotal-gift {
        grid-column: 1/ span 2;
        grid-row: 3;
        text-align: center; }
      .slideout__grid--subtotal-price {
        justify-content: end;
        justify-self: end;
        margin-right: 2rem; }
        @media (max-width: 570px) {
          .slideout__grid--subtotal-price {
            justify-content: center;
            justify-self: center; } }
    .slideout__grid--title {
      grid-column: 1 / span 4;
      font-size: 1.2rem;
      color: #E8C3B5;
      font-weight: 700;
      grid-row: 1; }
    .slideout__grid--main {
      grid-row: 2;
      grid-column: 1 / span 4;
      display: grid;
      grid-row-gap: 1.4rem;
      grid-template-rows: repeat(4, minmax(min-content, max-content));
      text-align: center;
      padding: 4rem;
      background-color: #1a2456; }
      .slideout__grid--main-title {
        font-size: 1.2rem;
        color: #E8C3B5; }
      .slideout__grid--main-para {
        text-align: center;
        color: #ffffff; }
    .slideout__grid--payments {
      grid-row: 3;
      grid-column: 1 / span 4;
      display: grid;
      grid-template-rows: repeat(2, 50px);
      grid-template-columns: repeat(5, 1fr);
      margin-right: 5rem; }
      @media (max-width: 570px) {
        .slideout__grid--payments {
          grid-template-columns: repeat(5, 70px);
          align-content: center;
          justify-content: center;
          justify-items: center; } }
      .slideout__grid--payments-title {
        grid-column: 1 / span 5;
        font-size: 1.2rem;
        margin-left: 1.4rem; }
      .slideout__grid--payments-img1 {
        grid-row: 2;
        grid-column: 1; }
      .slideout__grid--payments-img2 {
        grid-row: 2;
        grid-column: 2; }
      .slideout__grid--payments-img3 {
        grid-row: 2;
        grid-column: 3; }
      .slideout__grid--payments-img4 {
        grid-row: 2;
        grid-column: 4; }
      .slideout__grid--payments-img5 {
        grid-row: 2;
        grid-column: 5; }
      .slideout__grid--payments-img6 {
        grid-row: 2;
        grid-column: 6; }

.slide-out-check:checked + .slideout {
  opacity: 1;
  height: 100vh;
  animation: slide-out .9s ease; }

@keyframes slide-out {
  0% {
    transform: translateX(900px); }
  100% {
    transform: translateX(0); } }

.img-shop {
  margin-top: -1rem; }

.slide-out-check {
  opacity: 0;
  visibility: hidden; }

.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 150000;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1a2456; }
  .popup__content {
    width: 70%;
    height: 60%;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    padding: 2rem;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%); }
    @media (max-width: 900px) {
      .popup__content {
        height: 70%;
        background-image: linear-gradient(to bottom right, #E8C3B5, white); } }
    @media (max-width: 620px) {
      .popup__content {
        height: 80%;
        background-image: linear-gradient(to left, white, #E8C3B5); } }
    .popup__content--grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(min-content, max-content));
      grid-template-rows: repeat(5, minmax(min-content, max-content));
      grid-gap: 0.5rem; }
      .popup__content--grid-info {
        font-size: 1rem;
        grid-row: 3;
        grid-column: 2; }
      .popup__content--grid-image {
        width: 100%;
        height: 16rem;
        grid-row: 1/ span 4;
        grid-column: 1; }
        @media (max-width: 900px) {
          .popup__content--grid-image {
            width: 0;
            height: 0; } }
      .popup__content--grid-duration {
        width: 100%;
        height: 4rem;
        padding: 0.5rem 0.8rem;
        background-color: #1a2456;
        color: #ffffff; }
      .popup__content--grid-readmore {
        padding: 0.5rem 0.8rem;
        grid-row: 4;
        grid-column: 2;
        text-align: center;
        background-color: #1a2456;
        color: #ffffff;
        width: 60%;
        justify-self: center;
        text-transform: uppercase;
        text-decoration: none; }
        @media (max-width: 620px) {
          .popup__content--grid-readmore {
            grid-row: 2;
            grid-column: 3;
            width: 100%;
            height: 3rem; } }
